body{
    background-color: rgb(221, 221, 221);
}

.menu{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    list-style: none;
    margin-left: 5%;
    margin-right: 0%;
    width: 80%;
    height: 10%;
}

.menu li{
    display: inline-block;
    text-align: center;
    width: 15%;
    margin-left: 40px;
    margin-right: 40px;
}

.menu li a{
    color: rgb(0, 0, 0);
    padding: 15px;
    display: block;
    text-decoration: none;
}

.menu li a:hover{
    background-color: #df6666ee;
}

.icono_usuario{
    width:50px;
    height:50px;
    float:right;
    margin-right:3%;
}



.legend select{
    height: 50px;
    width: 200px;
    font-size: 15px
}

.selection{
    margin-top: 2%;
    display: flex;
    justify-content: space-around;
    margin-left: 5%;
    margin-right: 5%;
}

.formulario{
    background-color: #8d8d8dea;
    width: 80%;
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 8%;
    border-radius: 10px;
    box-shadow: 30px 30px 10px #1d070788;
    border-radius: 20px;
}

.encabezado{
    background-color: #474747;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 5px;
    font-size: 20px;
    color: #FFF
}

.recuadro{
    background-color: #ffffff;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

.pregunta{
    padding: 15px;
    text-align: center;
    color: black;
}

.opciones{
    list-style: none;
    height: 10%;
    text-align:center;
}

.opciones li{
    padding: 1%;
    display: inline-block;
    text-align: center;
}


.envio{
    cursor: pointer;
    background-color: #3f3f3f;
    text-align: center;
    font-size: 20px;
    border-radius: 8px;
    box-shadow: 8px 8px 5px #1d070788;
    margin: 15px;
    margin-left: 80%;
    padding: 20px;
    color: #FFF;
}

.opciones li input[type="radio"].low_hard{
    width: 4em;
    height: 4em;
}
.opciones li input[type="radio"].low_soft{
    width: 5em;
    height: 5em;
}
.opciones li input[type="radio"].neutral{
    width: 6em;
    height: 6em;
}
.opciones li input[type="radio"].high_soft{
    width: 5em;
    height: 5em;
}
.opciones li input[type="radio"].high_hard{
    width: 4em;
    height: 4em;
}

input[type='radio']:after {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    top: -2px;
    left: -1px;
    position: relative;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio'].low_hard:after {background-color: #9B2B36;}
input[type='radio'].low_soft:after {background-color: #CB535F;}
input[type='radio'].neutral:after {background-color: #9B9C9B;}
input[type='radio'].high_soft:after {background-color: #6CC56C;}
input[type='radio'].high_hard:after {background-color: #3D933D;}

input[type='radio']:checked:after {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    top: -2px;
    left: -1px;
    position: relative;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}
input[type='radio'].low_hard:checked:after {background-color: #454545;}
input[type='radio'].low_soft:checked:after {background-color: #454545;}
input[type='radio'].neutral:checked:after {background-color: #454545;}
input[type='radio'].high_soft:checked:after {background-color: #454545;}
input[type='radio'].high_hard:checked:after {background-color: #454545;}

.anotacion{
    width: 15%;
    text-align: center;
    color: black;
}

.comentar{
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;  
    overflow: auto;  
    background: rgba(0, 0, 0, 0.658);
    transition: all 500ms ease;
    justify-content: center;
    align-items: center;
}


.modal-content {
    background-color:  #df6666ee;
    margin-top: 70px;
    margin-left: 20%;
    padding: 20px;
    border: 1px solid rgb(0, 0, 0);
    width: 60%;
}

.modal-content p{
    text-align: center;
    font-size: 220%;

}

.comentario_modal{
    height: 150px;
    width: 500px;
    font-size: 17px;
    margin-left: 130px;
    margin-right: 130px;
    resize: none;
}


.close{
    float:right;
}

.enviar_comentario{
    text-align: center;
    margin-top: 30px;
    margin-left: 40%;
}

.comentario{
    height: 100px;
    width: 80%;
    font-size: 15px;
    resize: none;
}

.topbar{
    display: flex;
    justify-content: center;
}

.form-group label{
    width: 200%;
}

.modal-comment{
    display: flex;
    justify-content: center;
}