body{
    /*background-color: rgb(221, 221, 221);*/
    background-image: url(../images/2259.jpg);
    background-repeat: round;
}


.menu{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    list-style: none;
    margin-left: 3%;
    margin-right: 3%;
    height: 10%;
    display: flex !important;
}

.menu li{
    display: inline-block;
    text-align: center;
    width: 15%;
    margin-left: 40px;
    margin-right: 40px;
}

.menu li a{
    color: rgb(0, 0, 0);
    padding: 15px;
    display: block;
    text-decoration: none;
}

.menu li a:hover{
    background-color: #df6666ee;
}


.topbar{
    display: flex;
    justify-content: center;
    background-attachment: "{% static 'images/book1.jpg' %}";
}

.bienvenido {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    padding: 15px;
    margin-top: 50px;
    margin-left: 20%;
    margin-bottom: 50px;
    width: 60%;
    background-color: #df6666ee; 
    border-radius: 10px;
    color: rgb(0, 0, 0);
    box-shadow: 20px 30px 10px #000000ad;
}


.form-group label{
    width: 200%;
}

.modal-comment{
    display: flex;
    justify-content: center;
}

.presentacion{
    background-color: #db77777c;
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 8%;
    box-shadow: 30px 30px 10px #1d070788;
    border-radius: 30px;
    text-align: center;
    padding: 30px;
}

.encabezado{
    padding: 15px;
    font-size: 30px;
    color: black;
    border-radius: 30px;
    margin-left: 25%;
    margin-right: 25%;
}
.texto{
    margin-bottom: 30px;
    font-size: 25px;
    color: black;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

