<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Formulario</title>
    <link rel="stylesheet" href="{% static 'styles/departamento.css' %}" type="text/css">
    <script src="{% static 'scripts/departamento.js' %}"></script>
</head>

<body>

    <ul class="menu">
        <img src="{% static 'images/wikicursos_lite.png' %}" alt="title" height="50px" >
        <li><a href="{% url 'index' %}">Inicio</a></li>
        <li><a href="{% url 'search_department' %}">Ver y valorar cursos</a></li>
        <li><a href="">Estadisticas</a></li>
        <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
        <div style="margin-top: 2%;">Usuario</div>
        <img src="{% static 'images/usuario1.png' %}" class="icono_usuario" alt="Icono usuario", height="50px">
    </ul>


    <div class="box">
    	<div class="encabezado">Que curso le interesaria ver (Seleccione un curso)</div>
        
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Buscar departamento por nombre..." title="Type in a name">
        
        <ul id="myUL">

        {% for dep in dep_list %}
        <li>
            <li class="row_flex" style="justify-content: center">
                <a style=" width: 60%;"href="/search_course?dep={{dep.id}}">{{dep.name}}</a>
            </li>
        {% endfor %}
        </ul> 
    </div>

</body>
</html>