<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Portada</title>
    <link rel="stylesheet" href="{% static 'styles/index.css' %}" type="text/css">

    <script src="formulario.js"></script>  
</head>
<body>
    <img src="{% static 'images/usuario1.png' %}" class="icono_usuario" alt="Icono usuario">

    <ul class="menu">
        <li><a href="{% url 'index' %}">Inicio</a></li>
        <li><a href="{% url 'index' %}">Ver cursos</a></li>
        <li><a href="{% url 'register_review' %}">Valorar un curso</a></li>
        <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
    </ul>
    <div class="topbar"><img src="{% static 'images/wikicursos.png' %}" alt="title" width="600" ></div>
    
    <div class="bienvenido">Bienvenido!!</div>
    
    <div class="presentacion">
        <div class="encabezado">¿Quiénes somos?</div>
        <div class="texto">Somos una comunidad de la FCFM y queremos ayudarte a informarte sobre diferentes ramos que imparte la carrera </div>
        <div class="encabezado">¿Cómo nos puedes ayudar?</div>
        <div class="texto">Puedes comentarle a tus cercanos de la FCFM para que la comunidad siga creciendo y ayude a más personas.
            Además siempre puedes rellenar nuestros formularios para contarnos tu experiencia en el cuerso que diste, así recopilamos información de todas les alumnes cuando rindieron el curso y se la entregamos a toda la comunidad beauchefiana!!</div>
        
    </div>


</body>
    

</html>