<!DOCTYPE html>
     <html lang="en">
     <head>
        <meta charset="UTF-8">
        <title>Registro</title>
     </head>
     <body>
        <h1> Registro </h1>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="nombre_usuario">Nombre</label>
                <input type="text" class="form-control" id=nombre_usuario name="name" required>
            </div>

            <div class="form-group">
                <label for="contraseña">Prefijo</label>
                <input type="text" class="form-control" id="contraseña" name="prefix" required>
            </div>

             <button type="submit">Crear usuario</button>
        </form>
     </body>
     </html>