<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Formulario</title>
    <link rel="stylesheet" href="{% static 'styles/base_styles.css' %}" type="text/css">

</head>

<body>

    <ul class="menu">
        <img src="{% static 'images/wikicursos_lite.png' %}" alt="title" height="50px" >
        <li><a href="{% url 'index' %}">Inicio</a></li>
        <li><a href="{% url 'search_department' %}">Ver y valorar cursos</a></li>
        <li><a href="">Estadisticas</a></li>
        <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
        <div style="margin-top: 2%;">Usuario</div>
        <img src="{% static 'images/usuario1.png' %}" class="icono_usuario" alt="Icono usuario", height="50px">
    </ul>

    <div class="column_flex">
        <div class="page_error" id="errorDisplay">{{ErrorString}}</div>
        <br>
        <a  class="envio_stat" href="/register_review?course_id={{course_id}}">Hacer Review de este curso</a>
    </div>
</body>
</html>