<!DOCTYPE html>
     <html lang="en">
     <head>
        <meta charset="UTF-8">
        <title>Registro</title>
     </head>
     <body>
         <p>{{course_string}}</p>
         <select id=hola name=hola required>
            {% for i in dict.DCC %}
            <option value={{i.0}}> "{{i.1}}" </option>
            {% endfor %}
         </select>
        
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="course">Curso</label>
                <select id=course name="course" required>
                    <option value="MA3002">MA3002 Matemáticas nombreXD</option>
                    <option value="CC3001">CC3001 UN CURSO DCC</option>
                </select>
            </div>

            <div class="form-group">
                <label for="username">Nombre de usuario</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>

            <div class="form-group">
                <label for="section">Sección</label>
                <input type="number" class="form-control" id=section name="section" required>
            </div>

            <div class="form-group">
                <label for="year">Año</label>
                <input type="number" class="form-control" id=year name="year" required>
            </div>

            <div class="form-group">
                <label for="semester">Curso</label>
                <select id=semester name="semester" required>
                    <option value=1>Otoño</option>
                    <option value=2>Primavera</option>
                </select>
            </div>

            <div class="form-group">
                <label for="required_time_level">Nivel de recomendación</label>
                <input type="number" class="form-control" id=required_time_level name="required_time_level" required>
            </div>

            <div class="form-group">
                <label for="required_time_comment">Comentario sobre nivel de recomendación</label>
                <input type="text" class="form-control" id=required_time_comment name="required_time_comment" required>
            </div>

            <div class="form-group">
                <label for="difficulty_level">Nivel de dificultad</label>
                <input type="number" class="form-control" id=difficulty_level name="difficulty_level" required>
            </div>

            <div class="form-group">
                <label for="difficulty_comment">Comentario sobre nivel de dificultad</label>
                <input type="text" class="form-control" id=difficulty_comment name="difficulty_comment" required>
            </div>

            <div class="form-group">
                <label for="recommendation_level">Nivel de recomendación</label>
                <input type="number" class="form-control" id=recommendation_level name="recommendation_level" required>
            </div>

            <div class="form-group">
                <label for="recommendation_comment">Comentario sobre nivel de recomendación</label>
                <input type="text" class="form-control" id=recommendation_comment name="recommendation_comment" required>
            </div>

            <div class="form-group">
                <label for="study_recommendation">Recomendaciones de estudio</label>
                <input type="text" class="form-control" id=study_recommendation name="study_recommendation" required>
            </div>

            <div class="form-group">
                <label for="extra_comment">Comentario extra</label>
                <input type="text" class="form-control" id=extra_comment name="extra_comment" required>
            </div>


             <button type="submit">Enviar review</button>
        </form>
     </body>
     </html>